

@media only screen and (max-width: 640px)
{
 	
 	#header
    {
	    	position: absolute;
	    	width: 100%;
	    	margin: 0px;
	    	z-index: 3;
	    	top: 0;
	    	left: 0;
	    	display: flex;

    }

    #hamburger
    {
            display: inline-flex;
            top:0rem;
            margin: 0;
            margin-top: 1rem;         
    }

	#hamburger span
	{
		    width: 35px;
		    height: 5px;
		    display: block;
			background-color: white;
		    margin-left: 1rem;
		    margin-bottom: 5px;

	}

	#header img
	{
			width: 30px;
			height: 30px;
			display: inline-flex;
			vertical-align: middle;
			margin-top: 0.75rem;
			margin-left: 2rem;
	}
	
	#header h1
	{
			font-size: 1.5rem;
			display: inline-flex;
			text-align: center;
			color: white;
			font-family: 'Roboto', sans-serif;
			font-weight: 900;
			margin:0;
			margin-top: 1rem;
			margin-left: 0.5rem;
	}

Block swap algorithm for array rotation}

java mcq's4
ni question
na site
sql
repeated elements in array
idd even indiaces
mobile